/*  ------- iframe----- */

.brov {
    height: 10em;
}

main .photo-frame {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}

.photo-frame nav>* {
    margin: 0.2em;
}

.photo-frame nav{
    display: flex;
    width: 72%;
    justify-content: center;
}

.photo-frame a>img {
    width: 70px;
    height: 50px;
    border: solid thin #3334;
}

iframe {
    border: none;
    overflow: hidden;
}

/* ---------- GRID--------- */

.bike-selection {
    margin-bottom: 4em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:1fr minmax(200px, 1fr);
    grid-template-areas: 
        " left right"
}

.photo-frame {
    grid-area: left;
}

.size-selector {
    grid-area: right;
}

.categories {
    display: flex;
}

.categories a {
    text-decoration: none;
}

.gray {
    color: #3339;
}

.dark-gray {
    color: #333;
    font-size: 0.8em;
}

.gray a {
    color: #3339;
    font-size: 0.9em;
}

.price {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.size-selector h1{
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.size-selector h3 {
    font-weight: 400;
    margin-bottom: 1em;
}

.categories, .categories a {
    color: #3339;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.95em;
}

.categories {
    margin-bottom: 1.3em;
}

.categories a:hover {
    text-decoration: underline;
}

.reviews {
    color: #3339;
    font-size: 0.7em;
    margin-bottom: 1.5em;
}

.reviews a {
    color: dodgerblue;
    text-decoration: none;
}

.reviews a:hover {
    color: lightskyblue;
    text-decoration: underline;
} 

#small {
    font-size: 0.7em;
    margin-bottom: 2.5em;
}

#size {
    margin-bottom: 5em;
}

#question {
    margin-bottom: 2em;
}

select{
    font: inherit;
    width: 20em;
    height: 2.5em;
}

/* ------Advert Bar-------- */

.advert-white {
    display: flex;
    justify-content: space-around;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    border-top: solid thin #3331;
}

.advert-white p {
    font-weight: 400;
    font-size: 0.9em;
    color: #3337;
}

.advert-white h4 {
    font-size: 0.9em;
    padding-bottom: 0.3em;
}

/* -----------------Bikes Navbar---------- */


main .bikes-navbar-talon {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FCFCFC;
    border-top: solid thin #3332;
    border-bottom: solid thin #3332;
    box-shadow: 0px 18px 4px px ;
    position: sticky;
    top: 105px;
}

main .bikes-navbar-talon div {
    margin-right: 3em;
}

main .bikes-navbar-talon a {
    font-weight: 400;
    font-size: 0.8em;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}

main .bikes-navbar-talon a:hover {
    color: #3334;
}

main .bikes-navbar-talon a:active {
    text-decoration:underline;
    color: #333;
}

/* --------------Performance Facts----------- */

.performance-facts {
    background-color: #EDEDED;
    padding: 3.5em 10em 11em 10em;
}

.performance-facts  .bold {
    font-weight: 600;
    color: #333;
    font-size: 1.2em;
}

.performance-facts p {
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 300;
}

.performance-facts h1 {
    text-align: center;
    padding-bottom: 2em;
    margin-top: 2em;
}

.performance-facts .column {
    display: flex;
    justify-content: center;
}

.performance-facts .column div {
    width: 25em;
    padding-right: 3em;
}

.performance-facts .column h3 {
    text-align: left;
}

.performance-facts .column p {
    text-align: left;
}


/* ---------- Harakteristiki-------------- */

.harakteristiki {
    background-color: gray;
    padding-top: 4em;
    margin-bottom: 5em;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr minmax(2em 1fr);
    grid-template-columns:minmax(300px, 1fr) minmax(300px, 1fr);
    grid-template-areas: 
        " levo pravo "
        " centr centr "
}

#levo {
    grid-area: levo;
    margin-left: 9em;
}

#pravo {
    grid-area: pravo;
}

#centr {
    grid-area: centr;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 0.8em;
}

#levo div {
    display: flex;
    border-top: solid thin #333;
    max-width: 400px;
    border-color: darkgray;
    height: 2.5em;
    align-items: center;
}

#levo div p:first-of-type {
    margin-right: 3em;
    text-align: left;
    width: 50px;
    font-weight: 400;
    color: white;
} 

#levo div p:last-of-type {
    text-align: left;
    width: 325px;
    color: whitesmoke;
}

#pravo div {
    display: flex;
    border-top: solid thin #333;
    max-width: 450px;
    text-align: left;
    border-color: darkgray;
    height: 2.5em;
    align-items: center;
}

#pravo div p:first-of-type {
    margin-right: 2em;
    text-align: left;
    width: 95px;
    font-weight: 400;
    color: white;
}

#pravo div p:last-of-type {
    text-align: left;
    width: 325px;
    color: whitesmoke;
}

#centr p {
    display: flex;
    justify-content: center;
    color: darkgray;
}

/* ---------- Shema--------- */

.shema {
    border-top: solid thin #3331;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.shema img {
    width: 1000px;
}

.shema h1 {
    text-transform: uppercase;
    color: #333;
    padding-top: 2em
}


/* -------------Table--------- */

.tablica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 10em;
}

.tablica-content thead th {
    text-align: left;
    color: #3339;
    height: 2.5em;
    width: 25em;
    background-color: #3331;
    border-bottom: solid thin #3338;
}

.tablica-content thead th:nth-child(1n+2) {
    width: 15em;
}

.tablica-content tbody th {
    text-transform: uppercase;
    text-align: left;
    width: 25em;
    height: 2.5em;
    vertical-align: middle;
    border-bottom: solid thin #3338;
    padding-left: 2em;
}

.tablica-content tbody tr:nth-child(2n+2) {
    background-color: #3331;
}

.tablica-content tbody tr:nth-child(2n+1) {
    background-color: #FCFCFC;
}

.tablica-content tbody td {
    text-align: left;
    width: 15em;
    border-bottom: solid thin #3338;
}

.buttons {
    display: flex;
    margin-left: auto;
    margin-right: 9.5em;
    margin-bottom: 3em
}

.tablica span {
    border: solid 0.1px #3339;
    margin-left: -0.28em;
    padding: 0.5em;
}

#sp1{
    background-color: green;
    color: white;
}

#sp2:active, #sp2:focus {
    background-color: green;
    color: white;
}

.tablica span:hover {
    background-color: #3333;
    cursor: pointer;
}